# تجاهل ملفات البيئة الوهمية
venv/
env/
.venv/

# تجاهل ملفات الـ Bytecode الخاصة ببايثون
__pycache__/
*.pyc

# تجاهل ملف الإعدادات الحساسة (الأهم)
.env

# تجاهل قاعدة البيانات المحلية (اختياري، لكن Render لا يحفظها للأبد)
db.sqlite3

# تجاهل ملفات النظام
.DS_Storestaticfiles/
staticfiles/
